################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Example/Example.vcxproj.user
/PELoader/PELoader.vcxproj.user
/build
